* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://cdn.syncfusion.com/ej2/material.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		@apply rounded-[10px] p-4 text-white font-medium bg-cyan max-h-10 flex justify-center items-center min-w-[90px] uppercase hover:bg-white hover:text-black-100 ease-in duration-150 active:scale-95 select-none
	}
	input {
		@apply w-full h-[40px] rounded-sm p-4 text-[16px] outline-none
	}
}

.hero {
	background-image: url("assets/backgroundcurve.svg");
}

@media (max-width: 640px) {
	.hero {
	  background-image: url("assets/backgroundcurve-sm.svg");
	}
  }

.timezone {
	border: 1px solid #777777 !important;
}

