* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		@apply rounded-[10px] p-4 text-white font-medium bg-cyan max-h-10 flex justify-center items-center min-w-[90px] uppercase hover:bg-white hover:text-black-100 ease-in duration-150 active:scale-95
	}
}


